food_agent.db
db/__pycache__/
agent/__pycache__/
schemas/__pycache__/
__pycache__/
.venv
agent_vllm/.venv/
agent_vllm/agent/__pycache__/
agent_vllm/schemas/__pycache__/
agent_vllm/db/__pycache__/
agent_vllm/food_agent.db
menu_test_image/
demo/
qwen/.venv/
.env
logs
demo/
food_agent.db
demo.tar.gz
gpu_test.py
uploads/
